.grey-bg {
    background-color: WhiteSmoke;
}

.total-table {
    float: right;
}

.total-table tbody tr td {
    padding: 10px;
}

.til {
    background-color: #ffffb2;
}

.colour-transparent {
    background-color: transparent;
}

@media print {    
    .noprint { 
        display: none !important; 
    }

    .noprintborder { 
        border: none !important;
    }
}