.grey-bg {
    background-color: WhiteSmoke;
    -webkit-print-color-adjust: exact;
}

.total-table {
    float: right;
}

.total-table tbody tr td {
    padding: 10px;
}

.til {
    background-color: #ffffb2;
    -webkit-print-color-adjust: exact;
}

.colour-transparent {
    background-color: transparent;
    -webkit-print-color-adjust: exact;
}

.printonly { 
    display: none !important; 
}

.table {
    -webkit-print-color-adjust: exact;
}

@media print {    
    .noprint { 
        display: none !important; 
    }

    .noprintborder { 
        border: none !important;
    }

    .printonly { 
        display: block !important;
    }

    input { 
        width: 150px !important;
    }
    input::-webkit-input-placeholder { /* WebKit browsers */
        color: transparent !important;
    }
    input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: transparent !important;
    }
    input::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: transparent !important;
    }
    input:-ms-input-placeholder { /* Internet Explorer 10+ */
        color: transparent !important;
    }

    .textcanprintlonger {
        width: auto !important;
    }
}